Package: __PACKAGE__
Version: __VERSION__
Section: science
Priority: optional
Architecture: all
Maintainer: AKTIN IT <it-support@aktin.org>
Description: AKTIN Datawarehouse Update-Agent in Notaufnahmen

